@tailwind base;
@tailwind components;
@tailwind utilities;


/* @font-face {
  font-family: "JumperPERSONALUSEONLY-Regular";
  src: local("JumperPERSONALUSEONLY-Regular"),
       url("./assets/fonts/JumperPERSONALUSEONLY-Regular.ttf") format("truetype");
} */


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1D1D1D;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {
  .dropdown-content {
    @apply  w-full bg-transparent rounded-md overflow-hidden transition-all duration-300 ease-out;
  }
  
  .dropdown-content.active {
    opacity: 1;
  }

  .headerText {
    @apply  text-white font-semibold text-3xl;
  }
  .inputLabel{
    @apply text-white text-base
  }
}

.dropdown-content {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.dropdown-content.active {
  max-height: 200px; 
  opacity: 1;
}





